# Ignore all .idea folders (project settings)
.idea/
.idea/*

# Ignore all .gradle folders (Gradle cache)
.gradle/
.gradle/*

# Ignore all gradle directory and its contents (version catalogs, etc.)
gradle/
gradle/*

# Ignore all build outputs
/build/
**/build/

# (Optional) Ignore local.properties (contains local SDK paths)
local.properties